<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/InheritanceandOverriding/src/com/assign/test2/MainVehicle.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.assign.test2.MainVehicle"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="InheritanceandOverriding"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="InheritanceandOverriding"/>
</launchConfiguration>
